<div class="jumbotron">
  <div class="container">
    <h1 class="display-5">Inscreva-se</h1>
    <p class="lead">Preencha os dados abaixo para criação da sua conta</p>
  </div>
</div>
<div class="container mt-4">
  <form>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h5 class="text-xs-center mb-4 mt-4">Dados Pessoais</h5>
        <fieldset>
          <fieldset class="form-group">
            <label>Nome</label>
            <input
              placeholder="Nome"
              class="form-control"
              type="text"/>
          </fieldset>
          <fieldset class="form-group">
            <label>E-mail</label>
            <input
              placeholder="Email"
              class="form-control"
              type="text"/>
          </fieldset>
          <fieldset class="form-group">
            <label>Senha</label>
            <input
              placeholder="Senha"
              class="form-control"
              type="password"/>
          </fieldset>
        </fieldset>
      </div>
      <div class="col-md-6 col-xs-12">
        <h5 class="text-xs-center mb-4 mt-4">Dados do Estabelecimento</h5>
        <fieldset class="form-group">
          <label>Nome</label>
          <input
            placeholder="Nome"
            class="form-control"
            type="text"/>
        </fieldset>
        <fieldset class="form-group">
          <label>Endereço</label>
          <input
            placeholder="Endereço"
            class="form-control"
            type="text"/>
        </fieldset>
        <fieldset class="form-group">
          <label>Telefone</label>
          <input
            placeholder="Telefone"
            class="form-control"
            type="text"/>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="my-4">
        <button class="btn btn-success" type="submit" (click)="onSubmit()">
          Inscrever-se
        </button>
      </div>
    </div>
  </form>

</div>
