<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      Novo Usuário
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="Nome">Nome</label>
          <input type="text" class="form-control" id="Nome" aria-describedby="Nome" placeholder="Nome">
        </div>
        <div class="form-group">
          <label for="Email">Email</label>
          <input type="email" class="form-control" id="Email" aria-describedby="Email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="Password">Senha</label>
          <input type="password" class="form-control" id="Password" placeholder="Senha">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</div>
