<div class="jumbotron">
  <div class="container">
    <h1 class="display-5" align="center">Dê aos seus clientes a melhor experiência em reservas!</h1>
    <p class="lead" align="center">Se você está a procura de um serviço para o seu site que facilite suas reservas, você
      está no lugar certo.</p>
    <div align="center"><a class="btn btn-success btn-lg" routerLink="/register" role="button">Começar Agora</a></div>
  </div>
</div>
<div class="container mt4">
  <h2 class="display-5" align="center">Funcionadades</h2>
  <div class="card-deck mt-4">
    <div class="card">
      <div class="card-header" align="center" style="font-size: 4rem"><i class="fa fa-calendar-check"></i></div>
      <div class="card-body">
        <h5 class="card-title">Reserve em qualquer lugar</h5>
        <p class="card-text">
          Os clientes podem agendar marcações através da web, utilizando qualquer dispositivo em qualquer lugar e a
          qualquer momento.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header" align="center" style="font-size: 4rem"><i class="fa fa-calendar-check"></i></div>
      <div class="card-body">
        <h5 class="card-title">Reserve em qualquer lugar</h5>
        <p class="card-text">
          Os clientes podem agendar marcações através da web, utilizando qualquer dispositivo em qualquer lugar e a
          qualquer momento.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header" align="center" style="font-size: 4rem"><i class="fa fa-calendar-check"></i></div>
      <div class="card-body">
        <h5 class="card-title">Reserve em qualquer lugar</h5>
        <p class="card-text">
          Os clientes podem agendar marcações através da web, utilizando qualquer dispositivo em qualquer lugar e a
          qualquer momento.
        </p>
      </div>
    </div>
  </div>
</div>

